
<router-outlet></router-outlet>


    
    
<form class="shadow-lg p-3 mb-5 bg-white rounded">

    <h1 class="display-5">Cadastro de Pedido</h1>

    <div id="linha">
    
    </div>

    <div class="btn-group ">
      <button type="submit" class="btn btn-primary">Incluir</button>
      <button type="submit" class="btn btn-primary">Editar</button>
      <button type="submit" class="btn btn-primary">Excluir</button>
      <button type="submit" class="btn btn-primary">Salvar</button>
      <button type="submit" class="btn btn-primary">Cancelar</button>
      <button type="submit" class="btn btn-primary">Ir para</button>
      <button type="submit" class="btn btn-primary">Pesquisar</button>
  </div>

    <div class="row">
      <div class="col-md-8 col-xs-4">
        <label >Id</label>
        <input class="form-control form-control-lg" id="id" type="text">
      </div>

      
      <div class="col-md-8 col-xs-4">
          <label >Data da venda</label>
        <input type="text" class="form-control">
        
    </div>


      <div class="col-md-6 col-xs-4">
        <label for="exampleFormControlSelect1">Descrição</label>
        <input class="form-control form-control-lg" id="descricao" type="text" placeholder="Descrição">
      </div>
      <div class="col-md-6 col-xs-4">
        <label for="exampleFormControlSelect1">Fabricante</label>
        <input class="form-control form-control-lg" id="fabricante" type="text" placeholder="Fabricante">
      </div>
      <div class="col-md-6 col-xs-4">
        <label for="exampleFormControlSelect1">Unidade</label>
        <input class="form-control form-control-lg" id="unidade" type="text" placeholder="Unidade">
      </div>
      <div class="col-md-6 col-xs-4">
        <label for="exampleFormControlSelect1">Preço de venda</label>
        <input class="form-control form-control-lg" id="preco" type="text" placeholder="Preço de venda">
      </div>
    </div>

    <div class="col-md-8 col-xs-4">
      <label for="exampleFormControlSelect1">Fabricante</label>
      <input class="form-control form-control-lg" id="" type="text" placeholder="Fabricante">
    </div>
    <div class="col-md-8 col-xs-4">
      <label for="exampleFormControlSelect1">Unidade</label>
      <input class="form-control form-control-lg" id="" type="text" placeholder="Unidade">
    </div>
    <div class="col-md-6 col-xs-4">
      <label for="exampleFormControlSelect1">Preço de venda</label>
      <input class="form-control form-control-lg" id="" type="text" placeholder="Preço de venda">
    </div>




    <div id="linha"></div>



  
</form>







