<router-outlet></router-outlet>


    

    <form class="shadow-lg p-3 mb-5 bg-white rounded">

        <h1 class="display-5">Pesquisa de Produtos</h1>

        <div id="linha">
        
          </div>
    
      <div class="form-group" >
        <label for="exampleFormControlSelect1">Descrição do produto</label>
        <input class="form-control form-control-lg" id="descricao" type="text" placeholder="Descrição do produto">

        <label for="exampleFormControlSelect1">Razão social do fabricante</label>
        <input class="form-control form-control-lg" id="razao" type="text" placeholder="Razão social do fabricante">

        <button type="submit" class="btn btn-primary">Pesquisar</button>
      </div>
      
    


      <table class="table table-bordered">
        <thead class="bg-primary">
          <tr >
            <th scope="col">Id</th>
            <th scope="col">Descrição do produto</th>
            <th scope="col">Razão social</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
           
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
           
          </tr>

          
        </tbody>
      </table>



    
    </form>
    
